# Setup

In [2]:
import numpy as np
import pandas as pd

# Run 1

## Offboarding

### Load Data

In [47]:
qualtrics = pd.read_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/run_1/Qualtrics_BIGap_run1Offboarding_run2Onboarding.csv')

qualtrics = qualtrics.iloc[2:,].reset_index(drop=True)
qualtrics.Progress = pd.to_numeric(qualtrics.Progress)
qualtrics['studentNumber'] = pd.to_numeric(qualtrics.loc[:,'consent_sonaID']).astype('Int64')

In [34]:
qualtrics = qualtrics.loc[qualtrics.StartDate > '2022-12-15 17:20:22']

In [41]:
df = qualtrics[['studentNumber', 'Progress']]

### Subjects

In [16]:
# 59 subjects that were kept in study
run1subs = [
    1008957265,
    1009340394,
    1009326971,
    1009113576,
    1009158091,
    1008317536,
    1008888125,
    1007263907,
    1009000091,
    1009300604,
    1005503643,
    1009577995,
    1008504717,
    1009299536,
    1009620234,
    1007099202,
    1007264283,
    1006494125,
    1006204796,
    1009100811,
    1007209343,
    1009544049,
    1004444942,
    1006300922,
    1008909102,
    1008799622,
    1007189445,
    1009293293,
    1009075233,
    1007143663,
    1008156488,
    1008914864,
    1009765620,
    1009440632,
    1006440870,
    1008998462,
    1008441642,
    1009293970,
    1009366687,
    1009437995,
    1009100688,
    1006324470,
    1009340508,
    1009253594,
    1005536724,
    1005242088,
    1008953642,
    1006504294,
    1004637244,
    1009122334,
    1009429272,
    1009298555,
    1009122619,
    1009149011,
    1005732655,
    1009368435,
    1009053266,
    1007218422,
    1006509761
]

### Subject Progress

In [17]:
df = df.loc[df.studentNumber.isin(run1subs)]

In [18]:
df = df.sort_values('Progress', ascending=False).drop_duplicates('studentNumber')

In [19]:
df = df.sort_values('studentNumber')

In [43]:
df.loc[df.studentNumber==1009765620]

     studentNumber  Progress
4       1009765620       100
175     1009765620       100
197     1009765620         9

In [42]:
df

     studentNumber  Progress
0           545454       100
1       1009417800       100
2        994767800       100
3       1008888125       100
4       1009765620       100
..             ...       ...
197     1009765620         9
198     1009366687        88
199     1009298555       100
200     1009368435       100
201     1009100811         5

[202 rows x 2 columns]

# Run 2

## Onboarding

In [4]:
qualtrics = pd.read_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/run_2/run2_qualtricsOnboarding1.csv')
qualtrics = qualtrics.iloc[2:,].reset_index(drop=True)
qualtrics.Progress = pd.to_numeric(qualtrics.Progress)
qualtrics['studentNumber'] = pd.to_numeric(qualtrics.loc[:,'consent_sonaID']).astype('Int64')

In [5]:
qualtrics.shape

(207, 1843)

In [76]:
qualtrics.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,time_sec_work_ethic,time_grit_short,time_tipi,time_debrief,time_need_for_cognition,time_boredom_prone,time_ccs,time_ambition_scale_end,id,studentNumber
0,2022-09-26 07:00:07,2022-09-26 07:19:39,1,NaN,100,1171,1,2022-09-26 07:19:40,R_0rFT1H9wRrzkBTH,NaN,...,NaN,NaN,NaN,13:19:01,NaN,NaN,NaN,NaN,NaN,545454
1,2022-09-26 08:25:28,2022-09-26 09:48:23,0,138.51.94.133,100,4974,1,2022-09-26 09:48:24,R_2aVplIlJAu1X4em,NaN,...,NaN,NaN,NaN,15:47:02,NaN,NaN,NaN,NaN,NaN,1009417800
2,2022-09-26 08:52:18,2022-09-26 09:51:50,0,99.245.152.101,100,3571,1,2022-09-26 09:51:51,R_1LS5tqowAy51kCL,NaN,...,NaN,NaN,NaN,15:51:26,NaN,NaN,NaN,NaN,NaN,994767800
3,2022-09-26 07:46:12,2022-09-26 09:52:25,0,99.245.134.119,100,7572,1,2022-09-26 09:52:26,R_2fwHfZs7AQcDl2x,NaN,...,NaN,NaN,NaN,18:52:18,NaN,NaN,NaN,NaN,NaN,1008888125
4,2022-09-26 10:39:25,2022-09-26 11:31:26,0,108.162.132.139,100,3120,1,2022-09-26 11:31:27,R_1INy8KB8KGcHFQG,NaN,...,NaN,NaN,NaN,17:31:20,NaN,NaN,NaN,NaN,NaN,1009765620

In [6]:
qualtrics.studentNumber

0          545454
1      1009417800
2       994767800
3      1008888125
4      1009765620
          ...
202    1008953642
203    1008957265
204    1005503643
205     818903784
206          <NA>
Name: studentNumber, Length: 207, dtype: Int64

## Retest

In [16]:
df = qualtrics.loc[(qualtrics.retest_app_select_4=='1') & (qualtrics.Progress==100)]
emailed = list(df.retest_app_email.dropna().drop_duplicates())

['asdf@gmail.com',
 'zbj996891103@icloud.com',
 'yunyi.zhang@mail.utoronto.ca',
 'david.yenn@mail.utoronto.ca',
 'ayeshakh.khan@mail.utoronto.ca',
 'faaizah.lawal@mail.utoronto.ca',
 'sierra.goveia@gmail.com',
 'dominique.delcastillo@mail.utoronto.ca',
 'funmi.sosanya@mail.utoronto.ca',
 'arielle.ramgoolie@mail.utoronto.ca',
 'reemaleilan4@gmail.com',
 'nuzhat.azim@mail.utoronto.ca',
 'bryanyeukyeung@gmail.com',
 'bella.brundl@mail.utoronto.ca',
 'janicey.lam@mail.utoronto.ca',
 '1954289908@qq.com',
 'emilyj.choi@mail.utoronto.ca',
 'albertsszzdd@gmail.com',
 'yuhaoo.wang@mail.utoronto.ca',
 'michelle.linnnnn@gmail.com',
 'gabriel.oliver@mail.utoronto.ca',
 'wenjun.he@mail.utoronto.ca',
 'd.djaigbe@mail.utoronto.ca',
 'jasminee.patel@mail.utoronto.ca',
 'sandra2004monica@gmail.com',
 'bita.saadat@mail.utoronto.ca',
 'Isabellamacisaac@outlook.com',
 'jess.kerzner@mail.utoronto.ca',
 'liz.ogboghodo@gmail.com',
 'ananya.mehra200418@gmail.com',
 'denise.hsu@mail.utoronto.ca',
 'hayahsiddiqui17@gmail.com',
 'aishwaria.pathmanesan@mail.utoronto.ca',
 'hafsahh.siddiqui@mail.utoronto.ca',
 'cindy.singh@mail.utoronto.ca',
 'Nancy.lai@mail.utoronto.ca',
 'monica.zhuo@mail.utoronto.ca',
 'rachel.karwel@mail.utoronto.ca',
 'shaathana2004@gmail.com',
 'youzhu.wang@mail.utoronto.ca',
 'SpiderJad8@gmail.com',
 'd.salomon.03@icloud.com',
 'thanigah@gmail.com',
 'manasi.goregaonkar@mail.utoronto.ca',
 'miri.huang@mail.utoronto.ca',
 'tianna.ntim@mail.utoronto.ca',
 'aoyuxin@foxmail.com',
 'theora.pui@mail.utoronto.ca',
 'ashritha.kajendran@mail.utoronto.ca',
 'Kaelyn16g@gmail.com',
 'mohammad.askari@mail.utoronto.ca',
 'lina.park@mail.utoronto.ca',
 'itsmeapril416@gmail.com',
 'docifunanya@gmail.com',
 'zaira.barron@mail.utoronto.ca',
 'mihara.guruge@mail.utoronto.ca',
 'tanvi.mago@mail.utoronto.ca',
 'anhadsingh.tulsi@mail.utoronto.ca',
 'nibisha.chaudhary@gmail.com',
 'talia.bakhat@mail.utoronto.ca',
 'bwh20040615@163.com',
 'nasib.tarabishy@mail.utoronto.ca',
 'zoey.fan@mail.utoronto.ca',
 'shada.abdulhadi29@gmail.com',
 'marina.pavlus@mail.utoronto.ca',
 'christine.duggan@mail.utoronto.ca',
 'amelie.lhenaff@mail.utoronto.ca',
 'kenneth.jarencio@mail.utoronto.ca',
 'lingling.deng@mail.utoronto.ca',
 'nanjiba.rakib@mail.utoronto.ca',
 'amisha.hilchand@mail.utoronto.ca',
 'sarah.durrani@mail.utoronto.ca',
 'makiyo.tan@mail.utoronto.ca',
 'smera.shirali@mail.utoronto.ca',
 'hibba.khursheed@mail.utoronto.ca',
 'hadia.yosofi@mail.utoronto.ca',
 'campbja04@gmail.com',
 'juliette.gilbert@mail.utoronto.ca',
 'vittorioshchan@gmail.com',
 'jahnyah24@icloud.com',
 'nikita.sarrafpourhabibi@mail.utoronto.ca',
 'sunshu3@mail.utoronto.ca',
 'mahesha.mahmud@gmail.com',
 'y9rdwn0110@gmail.com',
 'ravskothari@gmail.com',
 'kenjipho@gmail.com',
 'olyvia.thomas@mail.utoronto.ca',
 'ethan26andrada@gmail.com',
 'kajany.prathipan@mail.utoronto.ca',
 'bianca.anandarajah@mail.utoronto.ca',
 'khadijah.khan32@gmail.com',
 'marmar26341@yahoo.com',
 'sitha.sukumar@mail.utoronto.ca',
 'Justinwu32@outlook.com',
 'ken.aligiannis@mail.utoronto.ca',
 'amsa.umapathithasan@mail.utoronto.ca',
 'enayah.shaikh@mail.utoronto.ca',
 'sabinakuvadia@gmail.com',
 's.ji@mail.utoronto.ca',
 'hailey.cooper@mail.utoronto.ca',
 'parin.patel@mail.utoronto.ca',
 'joanes.nino105@gmail.com',
 'precious.owoade@mail.utoronto.ca',
 'rafiya.neki@mail.utoronto.ca',
 'ebadimealad@gmail.com',
 'ananyavarshneyjp@gmail.com',
 'wuda.r.04@gmail.com',
 'kaylakm04@gmail.com',
 'nazia.adel@mail.utoronto.ca',
 'iman.mansoor345@gmail.com',
 'sumehra.choudhury@mail.utoronto.ca',
 'haraniya.vasanthakumar@mail.utoronto.ca',
 'liaba.aamir@mail.utoronto.ca',
 'ericshalma28@gmail.com',
 'lynda.dufrasne@mail.utoronto.ca',
 'cassidyleung338@gmail.com',
 'haj.ahmad@mail.utoronto.ca',
 'chenqi.xu@mail.utoronto.ca',
 'affan.abdulkhader@mail.utoronto.ca',
 'unaisa.hassan@mail.utoronto.ca',
 'k.quan@mail.utoronto.ca',
 'maheerah.anwar@mail.utoronto.ca',
 'sueroaguilar@gmail.com',
 'Nagham.omran@mail.utoronto.ca',
 'e.shirali@mail.utoronto.ca',
 'romaisa.irfan@mail.utoronto.ca',
 'achchuthan.suthakaran@mail.utoronto.ca',
 'jack.burger@mail.utoronto.ca',
 'kaynaat.abrar@mail.utoronto.ca',
 'n.zegas8@gmail.com',
 'jude.sy@mail.utoronto.ca',
 'shenmin.dai@mail.utoronto.ca',
 'sindujasundar85@gmail.com',
 'ahmedsolangi7868@gmail.com',
 'budhramshivanie@gmail.com',
 'p.raimo@mail.utoronto.ca',
 'mariko.nakanishi@mail.utoronto.ca',
 'ana.botelho.leal@gmail.com',
 'melany.wang@mail.utoronto.ca',
 'stephanielt.chan@mail.utoronto.ca',
 'hiba.mohammed@mail.utoronto.ca',
 'khyati.chhabra@mail.utoronto.ca',
 'taseen.syed@mail.utoronto.ca',
 'Xai.brown@mail.utoronto.ca',
 'sabrina.seecoomar@mail.utoronto.ca',
 'preya4541@gmail.com',
 'arabi.mahanujam@mail.utoronto.ca',
 'zawad.khanmajlish@mail.utoronto.ca',
 'jasongahjun.yee@mail.utoronto.ca']

## Missing Qualtrics

Who of new sign up has completed the qualtrics survey

In [7]:
complete = qualtrics.loc[qualtrics.Progress==100]

In [8]:
complete = complete.studentNumber.dropna().drop_duplicates()

In [14]:

run2 = [
        1006740270,
    1007419312,
    1008411657,
    1008801209,
    1008821438,
    1008823579,
    1008896964,
    1008968663,
    1009028598,
    1009156155,
    1009159198,
    1009161354,
    1009264136,
    1009264314,
    1009297397,
    1009329745,
    1009368505,
    1009387539,
    1009399964,
    1009400042,
    1009500969,
    1009520537,
    1009613722
]

In [15]:
run2[1]

1007419312

In [16]:
np.isin(run2, complete)

array([False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False])

In [17]:
list(np.where(~np.isin(run2, complete)))

[array([ 0,  1,  2,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        19, 20, 21, 22])]

In [18]:
indices = list(np.where(np.isin(run2, complete))[0])

noQualtrics = [run2[index] for index in indices]

In [19]:
noQualtrics

[1008801209, 1009399964]

In [129]:
# duplicate subjects?

duplicates = [number for number in run2 if run2.count(number) > 1]
unique_duplicates = list(set(duplicates))

print(unique_duplicates)

[]