# Imports

In [1]:
import pandas as pd
import numpy as np

In [60]:
raw_data_path = '/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/run_1/'
save_data_path = '/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_2_processed_data/'

# Grades

## All Grades

In [6]:
df_grades = pd.read_csv(raw_data_path + 'run1_grades.csv')

In [7]:
run1_subs = pd.read_csv(raw_data_path + 'run1_subjects.csv')

In [8]:
run1_subs = run1_subs[['ParticipantIdentifier', 'Student Number']]

In [50]:
x = pd.pivot(df_grades, index='studentNumber', columns='class', values='grade').reset_index()

In [51]:
x = x.rename_axis(None, axis=1)

In [52]:
x = x.apply(pd.to_numeric, errors='coerce')

In [54]:
x.columns = x.add_prefix('grades_').columns

In [55]:
x = x.rename(columns={'grades_studentNumber': 'studentNumber'})

In [58]:
# get average of all grades
x['grades_avg'] = x.loc[:, x.columns != 'studentNumber'].mean(axis=1)

In [104]:
# get all grades out of 1
x.loc[:, x.columns != 'studentNumber'] = x.loc[:, x.columns != 'studentNumber']/100

In [109]:
x.head()

,studentNumber,grades_AFSA01H3,grades_ANTA01H3,grades_ANTA02H3,grades_ANTB19H3,grades_ANTB66H3,grades_ANTC47H3,grades_ASTB03H3,grades_BIOA01H3,grades_BIOA11H3,...,grades_VPHA46H3,grades_VPSA62H3,grades_VPSA63H3,grades_VPSB74H3,grades_WSTA01H3,grades_WSTB05H3,grades_WSTB06H3,grades_WSTB25H3,grades_WSTC22H3,grades_avg
0,993207196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.945000
1,997551457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.786667
2,998435279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.570000
3,1000864718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.708000
4,1004444942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.690000

In [106]:
# add ParticipantID for run1
grades = pd.merge(run1_subs, x, how='left', left_on='Student Number', right_on='studentNumber')

In [107]:
grades = grades.drop(['Student Number', 'studentNumber'], axis=1)

## Psych AO1 Grades

In [123]:
df_grades = pd.read_csv(raw_data_path + 'run1_grades_psya01.csv')

In [124]:
# row with score each item was out of
denominator = df_grades.iloc[0]

In [125]:
# get all grades out of 1
df_grades.loc[:, df_grades.columns !='studentNumber'] = df_grades.loc[:, df_grades.columns !='studentNumber']/denominator[1:]

In [126]:
# add ParticipantID for run1
grades_psya02 = pd.merge(run1_subs, df_grades, how='left', left_on='Student Number', right_on='studentNumber')
grades_psya02 = grades_psya02.drop(['Student Number', 'studentNumber'], axis=1)

## Save

In [128]:
# combine psyA01 and all other grades
grades = pd.merge(grades, grades_psya02, how='left', on='ParticipantIdentifier')

In [130]:
# save for App
grades.to_csv(save_data_path + 'run1_grades.csv', index=False)

# save for IB Gap Measure
gap_path = '/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_1_gap_measure/3_1_2_processed_data/'
x.to_csv(gap_path + 'fall2022_grades.csv', index=False)