In [2]:
import numpy as np
import pandas as pd

In [3]:
import os
import zipfile

- StudyParticipants
- HealthKitSamples
- HealthKitActivitySummaries
- AppleLocationVisits
- Tower of Hanoi
- Trailmaking

**ALL SENSOR KIT**

In [335]:
# Use your folder path 
path = '/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/testing/run1_check_adherence/'

In [352]:
files = os.listdir(os.chdir(path))

In [353]:
good_files = []

# remove unwanted files
for file in files:
    if file.startswith('RK'):
        good_files += [file]

In [354]:
good_files.sort()

In [358]:
week3 = good_files[14:21]
week4 = good_files[21:28]

In [391]:
week4

['RK.8D1DBFAD.DJWThesis_20221018-20221019',
 'RK.8D1DBFAD.DJWThesis_20221019-20221020',
 'RK.8D1DBFAD.DJWThesis_20221020-20221021',
 'RK.8D1DBFAD.DJWThesis_20221021-20221022',
 'RK.8D1DBFAD.DJWThesis_20221022-20221023',
 'RK.8D1DBFAD.DJWThesis_20221023-20221024',
 'RK.8D1DBFAD.DJWThesis_20221024-20221025']

## Study Participants

In [394]:
df = pd.read_csv(path + "run1_participants.csv")
df = df[['ParticipantIdentifier', 'SecondaryIdentifier', 'EmailAddress']]
df.shape

(92, 3)

## `HealthKitSamples`

In [395]:
# create empty column
df = df.assign(HealthKitSamples = 0)
df = df.assign(ToHanoi = 0)
df = df.assign(Trailmaking = 0)
df = df.assign(Location = 0)
df = df.assign(HRVar = 0)
df = df.assign(SKdeviceUsage = 0)
df = df.assign(SKkeyboardMetrics = 0)
df = df.assign(SKmessagesUsage = 0)
df = df.assign(SKspeechTelephony = 0)
df = df.assign(SKvisits = 0)

In [396]:
df.head(3)

,ParticipantIdentifier,SecondaryIdentifier,EmailAddress,HealthKitSamples,ToHanoi,Trailmaking,Location,HRVar,SKdeviceUsage,SKkeyboardMetrics,SKmessagesUsage,SKspeechTelephony,SKvisits
0,0501ba67-3406-4779-aff1-878a0e9f7885,recMLiB5LwIyWLHyr,tyler.liuyi7@gmail.com,0,0,0,0,0,0,0,0,0,0
1,74b5736e-0605-4d41-a046-7fcb7c59e816,recJC44qhOeFn4u9z,ayeza.ahmad@mail.utoronto.ca,0,0,0,0,0,0,0,0,0,0
2,bfc23509-915e-4c0a-bbad-8ed6fe3df8f1,reccPdd4hHuylNHeG,shamrita.saravanakumar@mail.utoronto.ca,0,0,0,0,0,0,0,0,0,0

In [397]:
check_df = week4

In [398]:
# load datafile 
# change to loop through all files

for i in range(len(check_df)):
    # HealthKit
    hk_df = pd.read_csv(path + check_df[i] + '/HealthKitSamples_' + check_df[i][-17:] + '.csv')
    df['HealthKitSamples'][df.ParticipantIdentifier.isin(np.unique(hk_df.ParticipantIdentifier))] = 1
    # Tower of Hanoi
    hk_toh = pd.read_csv(path + check_df[i] + '/SurveyTowerOfHanoiResults_' + check_df[i][-17:] + '.csv')
    df['ToHanoi'][df.ParticipantIdentifier.isin(np.unique(hk_toh.ParticipantIdentifier))] = 1
    # Trailmaking
    hk_tm = pd.read_csv(path + check_df[i] + '/SurveyTrailmakingResults_' + check_df[i][-17:] + '.csv')
    df['Trailmaking'][df.ParticipantIdentifier.isin(np.unique(hk_tm.ParticipantIdentifier))] = 1
    # Location Visits
    hk_loc = pd.read_csv(path + check_df[i] + '/AppleLocationVisits_' + check_df[i][-17:] + '.csv')
    df['Location'][df.ParticipantIdentifier.isin(np.unique(hk_loc.ParticipantIdentifier))] = 1
    # HR Var
    hk_hrVar = pd.read_csv(path + check_df[i] + '/HealthKitSamples_' + check_df[i][-17:] + '.csv')
    hk_hrVar = hk_hrVar.loc[hk_hrVar.Type == 'HeartRateVariability']
    hk_hrVar = hk_hrVar.drop_duplicates(subset=['ParticipantIdentifier'])
    df['HRVar'][df.ParticipantIdentifier.isin(np.unique(hk_hrVar.ParticipantIdentifier))] = 1
    # SK device usage
    sk_path = path + check_df[i] + '/' + 'sensorkit-device-usage/iPHone'
    sk_participants = os.listdir(os.chdir(sk_path))
    df['SKdeviceUsage'][df.ParticipantIdentifier.isin(sk_participants)] = 1
    # SK keyboard metrics
    sk_path = path + check_df[i] + '/' + 'sensorkit-keyboard-metrics/iPhone'
    sk_participants = os.listdir(os.chdir(sk_path))
    df['SKkeyboardMetrics'][df.ParticipantIdentifier.isin(sk_participants)] = 1
    # SK message usage
    sk_path = path + check_df[i] + '/' + 'sensorkit-messages-usage/iPhone'
    sk_participants = os.listdir(os.chdir(sk_path))
    df['SKmessagesUsage'][df.ParticipantIdentifier.isin(sk_participants)] = 1
    # SK telephony
    sk_path = path + check_df[i] + '/' + 'sensorkit-speech-telephony/iPhone'
    sk_participants = os.listdir(os.chdir(sk_path))
    df['SKspeechTelephony'][df.ParticipantIdentifier.isin(sk_participants)] = 1
    # SK telephony
    sk_path = path + check_df[i] + '/' + 'sensorkit-visits/iPhone'
    sk_participants = os.listdir(os.chdir(sk_path))
    df['SKvisits'][df.ParticipantIdentifier.isin(sk_participants)] = 1

/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:6: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  hk_df = pd.read_csv(path + check_df[i] + '/HealthKitSamples_' + check_df[i][-17:] + '.csv')
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HealthKitSamples'][df.ParticipantIdentifier.isin(np.unique(hk_df.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ToHanoi'][df.ParticipantIdentifier.isin(np.unique(hk_toh.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Trailmaking'][df.ParticipantIdentifier.isin(np.unique(hk_tm.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Location'][df.ParticipantIdentifier.isin(np.unique(hk_loc.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:18: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  hk_hrVar = pd.read_csv(path + check_df[i] + '/HealthKitSamples_' + check_df[i][-17:] + '.csv')
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HRVar'][df.ParticipantIdentifier.isin(np.unique(hk_hrVar.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKdeviceUsage'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKkeyboardMetrics'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKmessagesUsage'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKspeechTelephony'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKvisits'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:6: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  hk_df = pd.read_csv(path + check_df[i] + '/HealthKitSamples_' + check_df[i][-17:] + '.csv')
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HealthKitSamples'][df.ParticipantIdentifier.isin(np.unique(hk_df.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ToHanoi'][df.ParticipantIdentifier.isin(np.unique(hk_toh.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Trailmaking'][df.ParticipantIdentifier.isin(np.unique(hk_tm.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Location'][df.ParticipantIdentifier.isin(np.unique(hk_loc.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:18: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  hk_hrVar = pd.read_csv(path + check_df[i] + '/HealthKitSamples_' + check_df[i][-17:] + '.csv')
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HRVar'][df.ParticipantIdentifier.isin(np.unique(hk_hrVar.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKdeviceUsage'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKkeyboardMetrics'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKmessagesUsage'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKspeechTelephony'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKvisits'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HealthKitSamples'][df.ParticipantIdentifier.isin(np.unique(hk_df.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ToHanoi'][df.ParticipantIdentifier.isin(np.unique(hk_toh.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Trailmaking'][df.ParticipantIdentifier.isin(np.unique(hk_tm.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Location'][df.ParticipantIdentifier.isin(np.unique(hk_loc.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HRVar'][df.ParticipantIdentifier.isin(np.unique(hk_hrVar.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKdeviceUsage'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKkeyboardMetrics'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKmessagesUsage'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKspeechTelephony'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKvisits'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HealthKitSamples'][df.ParticipantIdentifier.isin(np.unique(hk_df.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ToHanoi'][df.ParticipantIdentifier.isin(np.unique(hk_toh.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Trailmaking'][df.ParticipantIdentifier.isin(np.unique(hk_tm.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Location'][df.ParticipantIdentifier.isin(np.unique(hk_loc.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HRVar'][df.ParticipantIdentifier.isin(np.unique(hk_hrVar.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKdeviceUsage'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKkeyboardMetrics'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKmessagesUsage'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKspeechTelephony'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKvisits'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HealthKitSamples'][df.ParticipantIdentifier.isin(np.unique(hk_df.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ToHanoi'][df.ParticipantIdentifier.isin(np.unique(hk_toh.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Trailmaking'][df.ParticipantIdentifier.isin(np.unique(hk_tm.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Location'][df.ParticipantIdentifier.isin(np.unique(hk_loc.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HRVar'][df.ParticipantIdentifier.isin(np.unique(hk_hrVar.ParticipantIdentifier))] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKdeviceUsage'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SKkeyboardMetrics'][df.ParticipantIdentifier.isin(sk_participants)] = 1
/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_67776/3397753393.py:33: SettingWithCopyWarning:

In [399]:
df

,ParticipantIdentifier,SecondaryIdentifier,EmailAddress,HealthKitSamples,ToHanoi,Trailmaking,Location,HRVar,SKdeviceUsage,SKkeyboardMetrics,SKmessagesUsage,SKspeechTelephony,SKvisits
0,0501ba67-3406-4779-aff1-878a0e9f7885,recMLiB5LwIyWLHyr,tyler.liuyi7@gmail.com,1,1,1,1,1,1,1,1,1,1
1,74b5736e-0605-4d41-a046-7fcb7c59e816,recJC44qhOeFn4u9z,ayeza.ahmad@mail.utoronto.ca,1,1,1,1,1,0,1,1,0,1
2,bfc23509-915e-4c0a-bbad-8ed6fe3df8f1,reccPdd4hHuylNHeG,shamrita.saravanakumar@mail.utoronto.ca,1,1,1,1,1,1,1,1,0,1
3,837ea159-60c6-4bde-b3ba-2c107844a9bb,recxpKabY42vBX88f,emmaradmacher02@gmail.com,1,1,1,1,1,1,1,1,0,1
4,d99872af-3068-4840-9118-3e5724df83b8,recPM8eKIBENM3KdL,mahnoor.sarwar@mail.utoronto.ca,1,1,1,1,1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,a8b5a9ea-b762-4f46-a431-6c530215c498,recv2dB76BvSoPeYF,tarkan.gurpinar@mail.utoronto.ca,0,1,1,0,0,0,0,0,0,0
88,7272fab8-c4e7-45bb-ba42-e9f6a06801c0,recBJgGugxkChCy5g,kaisealy03@gmail.com,1,0,0,1,0,1,1,1,1,1
89,afbd4906-0513-42b1-91ce-d25065842f55,recFqSUlZzU2xGAI8,marc.ayoub@mail.utoronto.ca,1,1,1,1,1,1,1,1,1,1
90,78caed8d-d47f-4e39-92be-eaf545d56772,recXsr7PPIW6GeHkD,ak.ali@mail.utoronto.ca,0,0,0,0,0,0,0,0,0,0
91,151eec8c-0ba1-48ba-afc8-f2874dad3a2b,receeJu4pq9Iwv85s,michaela.pannia@gmail.com,1,1,1,1,1,1,1,1,1,1

In [400]:
df = df.assign(SKAll = lambda x: (x.SKdeviceUsage + x.SKkeyboardMetrics + x.SKmessagesUsage + x.SKspeechTelephony + x.SKvisits))
df = df.assign(Tasks = lambda x: (x.ToHanoi + x.Trailmaking))

In [401]:
df

,ParticipantIdentifier,SecondaryIdentifier,EmailAddress,HealthKitSamples,ToHanoi,Trailmaking,Location,HRVar,SKdeviceUsage,SKkeyboardMetrics,SKmessagesUsage,SKspeechTelephony,SKvisits,SKAll,Tasks
0,0501ba67-3406-4779-aff1-878a0e9f7885,recMLiB5LwIyWLHyr,tyler.liuyi7@gmail.com,1,1,1,1,1,1,1,1,1,1,5,2
1,74b5736e-0605-4d41-a046-7fcb7c59e816,recJC44qhOeFn4u9z,ayeza.ahmad@mail.utoronto.ca,1,1,1,1,1,0,1,1,0,1,3,2
2,bfc23509-915e-4c0a-bbad-8ed6fe3df8f1,reccPdd4hHuylNHeG,shamrita.saravanakumar@mail.utoronto.ca,1,1,1,1,1,1,1,1,0,1,4,2
3,837ea159-60c6-4bde-b3ba-2c107844a9bb,recxpKabY42vBX88f,emmaradmacher02@gmail.com,1,1,1,1,1,1,1,1,0,1,4,2
4,d99872af-3068-4840-9118-3e5724df83b8,recPM8eKIBENM3KdL,mahnoor.sarwar@mail.utoronto.ca,1,1,1,1,1,1,1,1,0,1,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,a8b5a9ea-b762-4f46-a431-6c530215c498,recv2dB76BvSoPeYF,tarkan.gurpinar@mail.utoronto.ca,0,1,1,0,0,0,0,0,0,0,0,2
88,7272fab8-c4e7-45bb-ba42-e9f6a06801c0,recBJgGugxkChCy5g,kaisealy03@gmail.com,1,0,0,1,0,1,1,1,1,1,5,0
89,afbd4906-0513-42b1-91ce-d25065842f55,recFqSUlZzU2xGAI8,marc.ayoub@mail.utoronto.ca,1,1,1,1,1,1,1,1,1,1,5,2
90,78caed8d-d47f-4e39-92be-eaf545d56772,recXsr7PPIW6GeHkD,ak.ali@mail.utoronto.ca,0,0,0,0,0,0,0,0,0,0,0,0
91,151eec8c-0ba1-48ba-afc8-f2874dad3a2b,receeJu4pq9Iwv85s,michaela.pannia@gmail.com,1,1,1,1,1,1,1,1,1,1,5,2

In [402]:
len(np.where(df.SKAll >= 1)[0])

67

In [403]:
list(df.iloc[np.where(df.Tasks == 0)[0]].EmailAddress)

['amy.massoud@mail.utoronto.ca',
 'atticuscharlesvardon@gmail.com',
 'bayan.hlali@mail.utoronto.ca',
 'alexiastewartforovich@gmail.com',
 'charlenechoi58@gmail.com',
 'ryaneng03@gmail.com',
 'charlmargauxe@gmail.com',
 'gwynneth.kobold@gmail.com',
 'alyviakathryn@gmail.com',
 'angelofili24@gmail.com',
 'frederich.angeles23@gmail.com',
 'mari.konishi@mail.utoronto.ca',
 'kaisealy03@gmail.com',
 'ak.ali@mail.utoronto.ca']

In [404]:
df[df.ParticipantIdentifier.isin(noLottery)]

,ParticipantIdentifier,SecondaryIdentifier,EmailAddress,HealthKitSamples,ToHanoi,Trailmaking,Location,HRVar,SKdeviceUsage,SKkeyboardMetrics,SKmessagesUsage,SKspeechTelephony,SKvisits,SKAll,Tasks
12,6aef7713-ae07-41bf-a330-b2a94708f8eb,rec5ZSNo4IGeFl1UO,amy.massoud@mail.utoronto.ca,0,0,0,0,0,0,0,0,0,0,0,0
13,a2a8e4c2-c292-4062-8fd2-b6b5a8092cac,recwqtmfBrB9ChRDv,atticuscharlesvardon@gmail.com,1,0,0,0,0,1,1,1,1,1,5,0
27,3b692f4d-2f21-4869-b87f-c134c918e18f,recmbVvkQZaScuTDq,bayan.hlali@mail.utoronto.ca,0,0,0,0,0,0,0,0,0,0,0,0
56,32c4b5db-3371-4b5d-b035-3c790cb76a37,recqwhCVzZH8s1zN4,charlmargauxe@gmail.com,1,0,0,0,0,0,1,1,0,0,2,0
59,dc75ed11-fb0f-4f28-a74e-9d08d2f6c26a,recKXNvvwjbvwsN29,gwynneth.kobold@gmail.com,0,0,0,0,0,0,0,0,0,0,0,0
70,6338356d-f098-46ea-b270-10c6fff7e67e,rec1i10HREwUsb9FV,quratulainahsan.khan@mail.utoronto.ca,1,1,1,0,1,0,0,0,0,0,0,2
71,2db37fd7-2694-4b46-80f9-9f4b58d57bfa,recJXH4eSZTwRSxtD,mari.konishi@mail.utoronto.ca,1,0,0,0,0,1,1,1,1,1,5,0
88,7272fab8-c4e7-45bb-ba42-e9f6a06801c0,recBJgGugxkChCy5g,kaisealy03@gmail.com,1,0,0,1,0,1,1,1,1,1,5,0

In [371]:
lottery_week3 = pd.read_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/testing/run1_check_adherence/week3_lottery.csv')

In [405]:
adherence = df.merge(lottery_week3, how='left', on='ParticipantIdentifier')

In [385]:
np.unique(adherence.LotteryEntries)

array([ 0.,  1.,  2.,  3., nan])

In [407]:
adherence.LotteryEntries = adherence.LotteryEntries.fillna(0)

In [408]:
adherence

,ParticipantIdentifier,SecondaryIdentifier,EmailAddress,HealthKitSamples,ToHanoi,Trailmaking,Location,HRVar,SKdeviceUsage,SKkeyboardMetrics,SKmessagesUsage,SKspeechTelephony,SKvisits,SKAll,Tasks,LotteryEntries
0,0501ba67-3406-4779-aff1-878a0e9f7885,recMLiB5LwIyWLHyr,tyler.liuyi7@gmail.com,1,1,1,1,1,1,1,1,1,1,5,2,3.0
1,74b5736e-0605-4d41-a046-7fcb7c59e816,recJC44qhOeFn4u9z,ayeza.ahmad@mail.utoronto.ca,1,1,1,1,1,0,1,1,0,1,3,2,2.0
2,bfc23509-915e-4c0a-bbad-8ed6fe3df8f1,reccPdd4hHuylNHeG,shamrita.saravanakumar@mail.utoronto.ca,1,1,1,1,1,1,1,1,0,1,4,2,3.0
3,837ea159-60c6-4bde-b3ba-2c107844a9bb,recxpKabY42vBX88f,emmaradmacher02@gmail.com,1,1,1,1,1,1,1,1,0,1,4,2,3.0
4,d99872af-3068-4840-9118-3e5724df83b8,recPM8eKIBENM3KdL,mahnoor.sarwar@mail.utoronto.ca,1,1,1,1,1,1,1,1,0,1,4,2,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,a8b5a9ea-b762-4f46-a431-6c530215c498,recv2dB76BvSoPeYF,tarkan.gurpinar@mail.utoronto.ca,0,1,1,0,0,0,0,0,0,0,0,2,3.0
88,7272fab8-c4e7-45bb-ba42-e9f6a06801c0,recBJgGugxkChCy5g,kaisealy03@gmail.com,1,0,0,1,0,1,1,1,1,1,5,0,0.0
89,afbd4906-0513-42b1-91ce-d25065842f55,recFqSUlZzU2xGAI8,marc.ayoub@mail.utoronto.ca,1,1,1,1,1,1,1,1,1,1,5,2,3.0
90,78caed8d-d47f-4e39-92be-eaf545d56772,recXsr7PPIW6GeHkD,ak.ali@mail.utoronto.ca,0,0,0,0,0,0,0,0,0,0,0,0,0.0
91,151eec8c-0ba1-48ba-afc8-f2874dad3a2b,receeJu4pq9Iwv85s,michaela.pannia@gmail.com,1,1,1,1,1,1,1,1,1,1,5,2,0.0

In [409]:
adherence.HRVar.sum()

68

In [410]:
adherence.Location.sum()

66

In [412]:
adherence = adherence.sort_values(by=['EmailAddress'])

In [413]:
adherence.to_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_2_processed_data/adherence_week4.csv')

## Qualtrics BIG

### Run 2 | After Christmas

Have two version of qualtrics.

Need to join and then select for completed by student number

In [86]:
qualtrics1 = pd.read_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/run_2/run2_qualtricsOnboarding1.csv')
qualtrics1 = qualtrics1.iloc[2:,].reset_index(drop=True)
qualtrics2 = pd.read_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/run_2/run2_qualtricsOnboarding2.csv')
qualtrics2 = qualtrics2.iloc[2:,].reset_index(drop=True)

In [87]:
qualtrics1 = qualtrics1[['consent_sonaID', 'Progress']]
qualtrics2 = qualtrics2[['consent_sonaID', 'Progress']]

In [88]:
# combine
qualtrics = pd.concat([qualtrics1, qualtrics2], ignore_index=True, axis=0)

In [89]:
# make progress numeric
qualtrics.Progress = pd.to_numeric(qualtrics.Progress)

In [90]:
# rename column
qualtrics.rename(columns={'consent_sonaID': 'Student Number'}, inplace=True)
qualtrics['Student Number'] = qualtrics['Student Number'].astype('Int64')

In [91]:
qualtrics.head()

   Student Number  Progress
0          545454       100
1      1009417800       100
2       994767800       100
3      1008888125       100
4      1009765620       100

In [82]:
# select only run2 subjects
run2_subs = pd.read_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/run_2/run2_subjects.csv')
run2_subs = run2_subs['Student Number']

In [83]:
run2_subs

0     1002894898
1     1006058132
2     1006638845
3     1006740270
4     1007022687
         ...
90    1009592996
91    1009613722
92    1009688866
93    1009724602
94    1009763515
Name: Student Number, Length: 95, dtype: int64

In [84]:
qualtrics = qualtrics.loc[qualtrics['Student Number'].isin(run2_subs)]

In [85]:
qualtrics.sort_values(by='Student Number')

     Student Number  Progress
239      1006058132       100
212      1007022687       100
214      1007220053       100
229      1008083057       100
224      1008491918       100
208      1008784512       100
76       1008799622       100
158      1008799622       100
116      1008801209       100
223      1008805296       100
238      1008882032       100
227      1008912456       100
209      1008983174       100
220      1008991003       100
228      1009054844       100
234      1009067670       100
215      1009098138       100
233      1009106030       100
129      1009122334       100
47       1009122334        53
27       1009122334       100
14       1009149011       100
131      1009149011       100
46       1009149011        50
207      1009149011       100
231      1009152293       100
24       1009158091       100
127      1009158091       100
237      1009189520       100
219      1009251952       100
221      1009256902       100
218      1009290688       100
98       1009298387       100
86       1009298387        24
100      1009298387        26
230      1009298387       100
216      1009302247       100
232      1009364643       100
200      1009368435       100
61       1009368435       100
211      1009409052       100
236      1009436790       100
210      1009508310       100
222      1009586725       100
235      1009592996       100
226      1009688866       100
225      1009763515       100

### Run 2 | Pre Christmas (SONA)

These people should perhaps do it again for grade predictions...

In [109]:
qualtricsSONA = pd.read_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/run_2/run2_qualtricsOnboarding_SONA.csv')
qualtricsSONA = qualtricsSONA.iloc[2:,].reset_index(drop=True)

/var/folders/lw/ys_1b9sj08s904m4402qr0bm0000gn/T/ipykernel_34113/4056760671.py:1: DtypeWarning: Columns (2,4,5,6,9,10,11,12,13,14,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,73,74,75,76,77,78,80,81,82,83,84,85,87,88,89,90,91,92,94,95,96,97,98,99,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1937,1938,1939,1940,1941,1942,1946,1948,1949,1950,1951,1952,1954,1955,1956,1957,1958) have mixed types. Specify dtype option on import or set low_memory=False.
  qualtricsSONA = pd.read_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/run_2/run2_qualtricsOnboarding_SONA.csv')

In [110]:
qualtricsSONA = qualtricsSONA[['consent_sonaID', 'Progress']]

In [111]:
# make progress numeric
qualtricsSONA.Progress = pd.to_numeric(qualtricsSONA.Progress)

In [112]:
qualtricsSONA

    consent_sonaID  Progress
0           232323       100
1            11111       100
2       1006884409       100
3       1008295168       100
4       1009179791       100
..             ...       ...
966            NaN         2
967            NaN         2
968   1008276955.0        38
969            NaN         2
970   1008554770.0        56

[971 rows x 2 columns]

In [113]:
# rename column
qualtricsSONA.rename(columns={'consent_sonaID': 'Student Number'}, inplace=True)

In [115]:
qualtricsSONA['Student Number'] = qualtricsSONA['Student Number'].astype('Int64', errors='ignore')

In [117]:
qualtricsSONA.head()

  Student Number  Progress
0         232323       100
1          11111       100
2     1006884409       100
3     1008295168       100
4     1009179791       100

In [118]:
# select only run2 subjects
run2_subs = pd.read_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/run_2/run2_subjects.csv')
run2_subs = run2_subs['Student Number']

In [119]:
run2_subs

0     1002894898
1     1006058132
2     1006638845
3     1006740270
4     1007022687
         ...
90    1009592996
91    1009613722
92    1009688866
93    1009724602
94    1009763515
Name: Student Number, Length: 95, dtype: int64

In [120]:
qualtricsSONA = qualtricsSONA.loc[qualtricsSONA['Student Number'].isin(run2_subs)]

In [121]:
qualtricsSONA.sort_values(by='Student Number')

    Student Number  Progress
512   1008915373.0        52
627   1009105521.0       100
754   1009156155.0       100
586   1009161354.0       100
752   1009189520.0       100
590   1009290688.0       100
638   1009298387.0       100
803   1009364643.0       100
690   1009387539.0       100
623   1009399964.0       100
761   1009498820.0       100
745   1009520537.0       100
561   1009613722.0         4

### Recruiting

In [414]:
qualtrics = pd.read_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/run_1/BIGapQualtricsRun1_October262022.csv')
qualtrics = qualtrics.iloc[2:,].reset_index(drop=True)
qualtrics.Progress = pd.to_numeric(qualtrics.Progress)

In [500]:
BIG_complete = qualtrics[qualtrics.Progress==100][['consent_sonaID', 'Progress']]
BIG_complete.rename(columns={'consent_sonaID': 'Student Number'}, inplace=True)

In [440]:
airtable = pd.read_csv('/Users/djw/Documents/pCloud_synced/Academics/Projects/2020_thesis/thesis_experiments/3_experiments/3_3_experience_sampling/3_3_1_raw_data/run_1/adherence_october262022.csv')
airtable = airtable[['Email', 'Student Number']]
airtable.head()

                           Email Student Number
0              44middy@gmail.com     1008957265
1  aaesha.ahmed@mail.utoronto.ca     1009340394
2         aanushan.236@gmail.com            NaN
3     aida.qazi.canada@gmail.com     1009326971
4        ak.ali@mail.utoronto.ca     1006545972

In [501]:
#oddly we had some duplicates on students completing...did they really do it twice?
BIG_complete[BIG_complete['Student Number'] == '1008317536']

   Student Number  Progress
7      1008317536       100
19     1008317536       100

In [511]:
qualtrics.email

0          545454
1      1009417800
2       994767800
3      1008888125
4      1009765620
          ...
103           NaN
104    1009100811
105    1006324470
106    1004444942
107    1009298555
Name: consent_sonaID, Length: 108, dtype: object

In [515]:
#oddly we had some duplicates on students completing...did they really do it twice?
qualtrics[qualtrics['consent_sonaID'] == '1007218422']

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,time_swl_cantril,time_sec_work_ethic,time_grit_short,time_tipi,time_debrief,time_need_for_cognition,time_boredom_prone,time_ccs,time_ambition_scale_end,id
41,2022-09-26 15:32:20,2022-09-26 15:55:45,0,138.51.68.137,49,1404,0,2022-10-03 15:55:48,R_svdREPKdTPyFIpb,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2022-09-26 16:33:56,2022-09-26 16:35:36,0,199.7.157.56,24,100,0,2022-10-03 16:35:38,R_1qTXIwUoI0ilkte,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2022-09-27 11:50:11,2022-09-27 14:40:18,0,138.51.73.137,96,10207,0,2022-10-04 14:40:23,R_1CHCaHACbKEXbDa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2022-09-27 17:24:27,2022-09-27 19:29:32,0,142.120.16.184,53,7505,0,2022-10-04 19:29:39,R_AmV9AQot256vHgJ,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [502]:
BIG_complete.drop_duplicates(subset=['Student Number'], inplace=True)

In [503]:
BIG_complete = airtable.merge(BIG_complete, how='left', on='Student Number')

In [504]:
BIG_complete.Progress

0     100.0
1     100.0
2       NaN
3     100.0
4       NaN
      ...
87    100.0
88      NaN
89      NaN
90      NaN
91    100.0
Name: Progress, Length: 92, dtype: float64

In [505]:
BIG_complete.loc[(~BIG_complete['Student Number'].isna()) & (BIG_complete.Progress.isna()), 'Progress'] = 0

In [506]:
BIG_complete

                               Email Student Number  Progress
0                  44middy@gmail.com     1008957265     100.0
1      aaesha.ahmed@mail.utoronto.ca     1009340394     100.0
2             aanushan.236@gmail.com            NaN       NaN
3         aida.qazi.canada@gmail.com     1009326971     100.0
4            ak.ali@mail.utoronto.ca     1006545972       0.0
..                               ...            ...       ...
87             u.anushka04@gmail.com     1009368435     100.0
88  wameeya.tasneem@mail.utoronto.ca            NaN       NaN
89    yacoi.salgado@mail.utoronto.ca            NaN       NaN
90       yusra.asif@mail.utoronto.ca     1007218422       0.0
91  zanira.manesiya@mail.utoronto.ca     1006509761     100.0

[92 rows x 3 columns]

In [507]:
list(BIG_complete.Progress)

[100.0,
 100.0,
 nan,
 100.0,
 0.0,
 nan,
 100.0,
 100.0,
 0.0,
 nan,
 100.0,
 100.0,
 100.0,
 100.0,
 0.0,
 100.0,
 0.0,
 100.0,
 nan,
 nan,
 0.0,
 100.0,
 0.0,
 100.0,
 0.0,
 0.0,
 100.0,
 100.0,
 0.0,
 100.0,
 100.0,
 0.0,
 100.0,
 100.0,
 0.0,
 100.0,
 100.0,
 0.0,
 nan,
 nan,
 100.0,
 100.0,
 100.0,
 nan,
 0.0,
 100.0,
 100.0,
 100.0,
 100.0,
 nan,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 0.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 0.0,
 0.0,
 0.0,
 0.0,
 nan,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 0.0,
 100.0,
 nan,
 100.0,
 100.0,
 nan,
 0.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 nan,
 nan,
 100.0,
 100.0,
 nan,
 nan,
 0.0,
 100.0]